<h1>ブログ一覧</h1>
<table>
  <tr>
    <th>タイトル</th>
    <th>内容</th>
  </tr>

<% @tasks.each do |task| %>
 名前=> <%= task.task_name %><br>
 内容=> <%= task.task_content %><br>
<% end %>
</table>

<br>

<%= link_to '新しくブログを投稿する', new_task_path %>
